<a href="https://colab.research.google.com/github/AROMAL2059/-UEL-Machine-Learning-with-big-data/blob/main/Pyspark_lab_practice_UEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=6db324d1c21b0bc1ebc367acaa1769c29e384bdadf7444c7203ce93da0166fd0
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Tutorial1_CN7030") \
                            .master("local[*]")\
                            .config("spark.some.config.option", "some-value") \
                            .getOrCreate()

In [ ]:
# PySpark DataFrame with Explicit Schema
df = spark.createDataFrame([
    (1, 87.0, 'Mike', 'math', 'passed'),
    (2, 60.5, 'Mike', 'computing', 'failed'),
    (3, 20.8, 'Mina', 'networking', 'passed'),
    (4, 41.0, 'Emmy', 'math', 'failed'),
    (5, 39.0, 'Alex', 'computing', 'failed'),
    (6, 55.8, 'Alex', 'AI', 'passed'),
    (7, 74.0, 'Emmy', 'AI', 'passed'),
    ], schema = 'ID int, Mark double, Name string, Lesson string, Status string')

# show table
df.show()

# show schema
df.printSchema()

+---+----+----+----------+------+
| ID|Mark|Name|    Lesson|Status|
+---+----+----+----------+------+
|  1|87.0|Mike|      math|passed|
|  2|60.5|Mike| computing|failed|
|  3|20.8|Mina|networking|passed|
|  4|41.0|Emmy|      math|failed|
|  5|39.0|Alex| computing|failed|
|  6|55.8|Alex|        AI|passed|
|  7|74.0|Emmy|        AI|passed|
+---+----+----+----------+------+

root
 |-- ID: integer (nullable = true)
 |-- Mark: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Lesson: string (nullable = true)
 |-- Status: string (nullable = true)

In [ ]:
data = [[295, "South Bend", "Indiana",  101190, 112.9]]
columns = ["rank", "city", "state",  "population", "price"]

df1 = spark.createDataFrame(data, schema="rank LONG, city STRING, state STRING,  population LONG, price DOUBLE")
display(df1)
df1.show()

DataFrame[rank: bigint, city: string, state: string, population: bigint, price: double]

+----+----------+-------+----------+-----+
|rank|      city|  state|population|price|
+----+----------+-------+----------+-----+
| 295|South Bend|Indiana|    101190|112.9|
+----+----------+-------+----------+-----+

In [ ]:
import numpy as np
import pandas as pd
df_pandas = pd.DataFrame(np.random.randint(0,200,size=(100000, 5)), columns=list('ABCDE'))

In [ ]:
df_pandas.head(100)

      A    B    C    D    E
0   183   74  121   63    8
1   192  194   93  166  128
2   140  173    0  104   27
3   181   38    6  174  171
4   197  195  133  198  181
..  ...  ...  ...  ...  ...
95   71   30   19   47   45
96  175  194  152   32  130
97   15    2  127  164  121
98   84   43  185   57   85
99   35   38  172   88   14

[100 rows x 5 columns]

In [ ]:
df2 = spark.createDataFrame(df_pandas)

# show table
df2.show()

# show schema
df2.printSchema()

+---+---+---+---+---+
|  A|  B|  C|  D|  E|
+---+---+---+---+---+
|183| 74|121| 63|  8|
|192|194| 93|166|128|
|140|173|  0|104| 27|
|181| 38|  6|174|171|
|197|195|133|198|181|
|164|148|153|  3| 75|
|183| 77| 59| 91|114|
|180|  5|119| 20| 90|
| 50|122|141|121| 75|
| 30|154|106| 64|115|
|122|135|123| 79|166|
| 15|141|169|138|  5|
| 47|194| 54| 23| 97|
|185|131|191|  7| 77|
| 94|114| 96| 18|169|
|129|115|185| 94| 13|
|175|144| 91| 46|198|
| 53| 48|106|162|164|
|126|152|  7| 88|155|
| 51| 99|137| 85| 77|
+---+---+---+---+---+
only showing top 20 rows

root
 |-- A: long (nullable = true)
 |-- B: long (nullable = true)
 |-- C: long (nullable = true)
 |-- D: long (nullable = true)
 |-- E: long (nullable = true)

In [ ]:
print(df2.count())

100000

In [ ]:
# Returns a DataFrame that combines the rows of df1 and df
print("rows in df",df.count())
df.show()
print("rows in df1",df1.count())
df1.show()
df3 = df1.union(df)
print("rows in df3")
print(df3.count())
df3.show()
print("showing the data frame from the bottom")
df3.tail(7)
df3.head(7)

rows in df 7
+---+----+----+----------+------+
| ID|Mark|Name|    Lesson|Status|
+---+----+----+----------+------+
|  1|87.0|Mike|      math|passed|
|  2|60.5|Mike| computing|failed|
|  3|20.8|Mina|networking|passed|
|  4|41.0|Emmy|      math|failed|
|  5|39.0|Alex| computing|failed|
|  6|55.8|Alex|        AI|passed|
|  7|74.0|Emmy|        AI|passed|
+---+----+----+----------+------+

rows in df1 1
+----+----------+-------+----------+-----+
|rank|      city|  state|population|price|
+----+----------+-------+----------+-----+
| 295|South Bend|Indiana|    101190|112.9|
+----+----------+-------+----------+-----+

rows in df3
8
+----+----------+-------+----------+------+
|rank|      city|  state|population| price|
+----+----------+-------+----------+------+
| 295|South Bend|Indiana|    101190| 112.9|
|   1|      87.0|   Mike|      math|passed|
|   2|      60.5|   Mike| computing|failed|
|   3|      20.8|   Mina|networking|passed|
|   4|      41.0|   Emmy|      math|failed|
|   5|      39.0|   Alex| computing|failed|
|   6|      55.8|   Alex|        AI|passed|
|   7|      74.0|   Emmy|        AI|passed|
+----+----------+-------+----------+------+

showing the data frame from the bottom

[Row(rank=295, city='South Bend', state='Indiana', population='101190', price='112.9'),
 Row(rank=1, city='87.0', state='Mike', population='math', price='passed'),
 Row(rank=2, city='60.5', state='Mike', population='computing', price='failed'),
 Row(rank=3, city='20.8', state='Mina', population='networking', price='passed'),
 Row(rank=4, city='41.0', state='Emmy', population='math', price='failed'),
 Row(rank=5, city='39.0', state='Alex', population='computing', price='failed'),
 Row(rank=6, city='55.8', state='Alex', population='AI', price='passed')]

In [ ]:
df.describe()

DataFrame[summary: string, ID: string, Mark: string, Name: string, Lesson: string, Status: string]

In [ ]:
df3.head(7)

[Row(rank=295, city='South Bend', state='Indiana', population='101190', price='112.9'),
 Row(rank=1, city='87.0', state='Mike', population='math', price='passed'),
 Row(rank=2, city='60.5', state='Mike', population='computing', price='failed'),
 Row(rank=3, city='20.8', state='Mina', population='networking', price='passed'),
 Row(rank=4, city='41.0', state='Emmy', population='math', price='failed'),
 Row(rank=5, city='39.0', state='Alex', population='computing', price='failed'),
 Row(rank=6, city='55.8', state='Alex', population='AI', price='passed')]

In [ ]:
Totpartition=df.rdd.getNumPartitions()
print(Totpartition)
newpartitiondf = df.repartition(4)

print(newpartitiondf.rdd.getNumPartitions())

# Repatition by column name into 4 partitions, check the df1 it has a column name city we want it to be in four paritition
df4 = df1.repartition(4, "city")
print(df4.rdd.getNumPartitions())
# Repatition by multiple columns
#df5 = df4.repartition("ColumnName1","ColumnName2")

2
4
4

In [ ]:
myfile="/content/fifa_2018_players.csv"
df_fifa = spark.read.format("csv").load(myfile, inferSchema=True, header=True)

In [ ]:
# show table
df_fifa.show(5)
#How to drop the coloumn-unnamed:0

# show schema
df_fifa.printSchema()

+---+----------+------+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+
|_c0|Unnamed: 0|    ID|             Name|Age|               Photo|Nationality|                Flag|Overall|Potential|               Club|           Club Logo| Value| Wage|Special|
+---+----------+------+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+
|  0|         0| 20801|Cristiano Ronaldo| 32|https://cdn.sofif...|   Portugal|https://cdn.sofif...|     94|       94|     Real Madrid CF|https://cdn.sofif...|€95.5M|€565K|   2228|
|  1|         1|158023|         L. Messi| 30|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     93|       93|       FC Barcelona|https://cdn.sofif...| €105M|€565K|   2154|
|  2|         2|190871|           Neymar| 25|https://cdn.sofif...|     Brazil|https://cdn.sofif...|     92|       94|Paris Saint-Germain|https://cdn.sofif...| €123M|€280K|   2100|
|  3|         3|176580|        L. Suárez| 30|https://cdn.sofif...|    Uruguay|https://cdn.sofif...|     92|       92|       FC Barcelona|https://cdn.sofif...|  €97M|€510K|   2291|
|  4|         4|167495|         M. Neuer| 31|https://cdn.sofif...|    Germany|https://cdn.sofif...|     92|       92|   FC Bayern Munich|https://cdn.sofif...|  €61M|€230K|   1493|
+---+----------+------+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+
only showing top 5 rows

root
 |-- _c0: integer (nullable = true)
 |-- Unnamed: 0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Photo: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Flag: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club Logo: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Special: integer (nullable = true)

In [ ]:
print(df_fifa.count())
print(len(df_fifa.columns))

17981
15

In [ ]:
# Count rows using rdd attribute
row_count = df_fifa.rdd.count()

print(f'The DataFrame has {row_count} rows.')

The DataFrame has 17981 rows.

In [ ]:
df_fifa = df_fifa.repartition(4)
df_fifa.rdd.getNumPartitions()

4

In [ ]:
subset_Age = df_fifa.filter(df_fifa["Age"] > 30)
subset_Age.show(10)

+-----+----------+------+--------------------+---+--------------------+-----------+--------------------+-------+---------+--------------------+--------------------+------+----+-------+
|  _c0|Unnamed: 0|    ID|                Name|Age|               Photo|Nationality|                Flag|Overall|Potential|                Club|           Club Logo| Value|Wage|Special|
+-----+----------+------+--------------------+---+--------------------+-----------+--------------------+-------+---------+--------------------+--------------------+------+----+-------+
|  263|       263|183497|         O. Karnezis| 31|https://cdn.sofif...|     Greece|https://cdn.sofif...|     82|       82|             Watford|https://cdn.sofif...|€13.5M|€30K|   1212|
|10775|     10775|191458|          C. Valoyes| 33|https://cdn.sofif...|   Colombia|https://cdn.sofif...|     65|       65| Patriotas Boyacá FC|https://cdn.sofif...| €350K| €1K|   1666|
| 8845|      8845|191251|         A. Lambertz| 32|https://cdn.sofif...|    Germany|https://cdn.sofif...|     66|       66|   SG Dynamo Dresden|https://cdn.sofif...| €475K| €5K|   1909|
| 4626|      4626|126909|             M. Yüce| 32|https://cdn.sofif...|     Turkey|https://cdn.sofif...|     71|       71|           Bursaspor|https://cdn.sofif...| €1.4M|€12K|   1633|
| 3546|      3546|142677|         L. Desábato| 38|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     72|       72|Estudiantes de La...|https://cdn.sofif...| €425K| €8K|   1485|
| 7375|      7375| 51116|M. Morisbak Skjøn...| 34|https://cdn.sofif...|     Norway|https://cdn.sofif...|     68|       68|      Stabæk Fotball|https://cdn.sofif...| €270K| €3K|   1593|
| 8878|      8878|192540|            M. Duffy| 31|https://cdn.sofif...|    England|https://cdn.sofif...|     66|       66|    Sheffield United|https://cdn.sofif...| €575K|€12K|   1713|
| 2227|      2227|163665|           D. Congré| 32|https://cdn.sofif...|     France|https://cdn.sofif...|     74|       74|Montpellier Hérau...|https://cdn.sofif...| €3.2M|€23K|   1653|
|10076|     10076|180789|            Y. Igawa| 34|https://cdn.sofif...|      Japan|https://cdn.sofif...|     65|       65|   Kawasaki Frontale|https://cdn.sofif...| €160K| €3K|   1603|
| 8021|      8021|206157|             L. Olum| 32|https://cdn.sofif...|      Kenya|https://cdn.sofif...|     67|       67|    Portland Timbers|https://cdn.sofif...| €450K| €5K|   1600|
+-----+----------+------+--------------------+---+--------------------+-----------+--------------------+-------+---------+--------------------+--------------------+------+----+-------+
only showing top 10 rows

In [ ]:
df_fifa.select("Name","Club").distinct().show(100)

+-----------------+--------------------+
|             Name|                Club|
+-----------------+--------------------+
|   V. Berezutskiy|         CSKA Moscow|
|        C. Vargas|Atletico Nacional...|
|       M. Dembélé|   Tottenham Hotspur|
| Mateus Gonçalves|    Deportivo Toluca|
|         J. Orlov|            SK Brann|
|     L. Coulibaly|          Angers SCO|
|          Rafinha|        FC Barcelona|
|     L. Tremolada|             Ternana|
|          J. Jach|      Zagłębie Lubin|
|    F. Bordagaray|  Defensa y Justicia|
|       P. Aguilar|San Martín de San...|
|       D. Dussaut|   Sint-Truidense VV|
|        H. Osorio|Independiente San...|
|  Samu Castillejo|       Villarreal CF|
|           J. Gol|          Amkar Perm|
|       E. Friberg|           BK Häcken|
|    M. Villasanti|           Temperley|
|       J. Cortizo|           Querétaro|
|        G. Castro|   Borussia Dortmund|
|        K. Kamara|New England Revol...|
|          A. Kano|            Al Fayha|
|      T. McCarron|          Finn Harps|
|     L. Chiaretti|          Cittadella|
|         D. Leahy|       Coventry City|
|         B. Roche|           Morecambe|
|        B. Foster|West Bromwich Albion|
|       Lee Kyu Ro|            FC Seoul|
|       C. Ramírez| Talleres de Cordoba|
|        J. Galván|   Colon de Santa Fe|
|          F. Lora|          Cittadella|
|             Eder|               Inter|
|        A. Araujo| Talleres de Cordoba|
|       L. Civelli|            Banfield|
|      G. Agbaljan|     Heracles Almelo|
|         A. Turan|        FC Barcelona|
|    M. van Bergen|             Vitesse|
|           S. Ojo|              Fulham|
|         A. Byrne|         Exeter City|
|      M. Mitrović|         SønderjyskE|
|      Yun Sang Ho|   Incheon United FC|
|      I. Maksimov|        Arsenal Tula|
|        J. Mojica|           Girona CF|
|      Kim Min Tae|Hokkaido Consadol...|
|        A. Agouda|     Strømsgodset IF|
|         T. Moore|     Cheltenham Town|
|      M. Vitzthum|SG Sonnenhof Groß...|
|       E. Sánchez|             Pachuca|
|        C. Clough|              Barnet|
|        S. Müller|          1. FC Köln|
|      A. Linganzi|        Swindon Town|
|        S. Grippo|       Real Zaragoza|
|         N. Leali|    SV Zulte-Waregem|
|        M. Cornet|  Olympique Lyonnais|
|      W. Larrondo|  Santiago Wanderers|
|    L. Stojanović|    Royal Antwerp FC|
|        A. Shunin|       Dinamo Moscow|
|     E. Fernandes|     West Ham United|
|        K. Piątek|            Cracovia|
|       E. Manjedo|CD Universidad de...|
|       P. Dziczek|       Piast Gliwice|
|    S. McLaughlin|     Southend United|
|         D. Silva|CD Los Millionari...|
|       E. Codesto|           Colo-Colo|
|         R. Yates|        Notts County|
|       M. Attiyah|           Ohod Club|
|     Narcisso Mau|            Vitória |
|       N. Poulsen|     Sarpsborg 08 FF|
|          J. Yaro|  Philadelphia Union|
|A. Wheeler-Omiunu|   Atlanta United FC|
|         M. Leahy|        Sligo Rovers|
|       C. Bolaños|Vancouver Whiteca...|
|           Y. Ito|     Kashima Antlers|
|    Erick Gameira|Grêmio Foot-Ball ...|
|          H. Mier|           Querétaro|
|      B. Urbański|           Willem II|
|    R. van Eijden|          AZ Alkmaar|
|        J. Hansen|      FC Midtjylland|
|         G. Denis| Club Atlético Lanús|
|        J. McCart|              Celtic|
|       L. Payares|     Deportivo Pasto|
|       K. Malcuit|          LOSC Lille|
|       Sergio Gil|             CD Lugo|
|      F. Melegoni|            Atalanta|
|          J. Rask|            Hobro IK|
|        J. Stobbs|           Port Vale|
|        V. Zúñiga|           Cruz Azul|
|  Sandelas Júnior|Clube Atlético Mi...|
| M. de los Santos|CD Los Millionari...|
|        S. Davies|            Rochdale|
|       C. Jullien|         Toulouse FC|
|       K. Bennett|          Portsmouth|
|      K. Constant|             FC Sion|
|           M. Taş|   Gençlerbirliği SK|
|     E. Sivertsen|     Kristiansund BK|
|       M. Barbosa|       Villarreal CF|
|     J. De Guzmán| Eintracht Frankfurt|
|     P. Slišković|       Hallescher FC|
|     Y. Wildschut|        Norwich City|
|     L. Blanchard|               Carpi|
|        A. Paroni|      Virtus Entella|
+-----------------+--------------------+
only showing top 100 rows